/******************
    White Section
*******************/
.black-section {
  background: black;
  color: white;
  padding: 100px 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .border-box {
    border: 1px solid white;
    width: 70%;
    padding: 1.4em;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;

    .black-text {
      font-size: calc(2.2em + 4px);
      text-align: center;
      font-weight: 300;
    }
  }
}

.no-decor {
  text-decoration: none;
  color: white;
}

.no-decor:hover {
  text-decoration: none;
  color: white;
}

.underline-effect {
  text-decoration: none;
  color: white;
  transition: 0.3s all linear;
  position: relative;
  padding: 0.1em 0;

  &:after,
  &:before {
    content: "";
    height: 1px;
    width: 0;
    background: white;
    position: absolute;
    bottom: 0;
    transition: 0.2s all linear;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }

  &:hover {
    color: white;

    &:after,
    &:before {
      width: 100%;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &:active,
  &:focus {
    color: darken(white, 10%);

    &:after,
    &:before {
      background: darken(white, 10%);
    }
  }
}
