/******************************

      Swiper Body Styles

*******************************/
.actor-profile-wrapper {
  height: 100vh;
  width: 75%;

  .swiper-container {
    width: 100%;
    height: 100%;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 600px;
      margin: 0 auto;
      margin-left: 2em;
    }

    .main-swiper-img {
      width: 100%;
      max-width: 600px;
      box-shadow: 3px 2px 12px rgba(0,0,0,.6);
    }

    .swiper-pagination {
      right: auto !important;
      width: 6px;

      .cs-picker {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;

        span {
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }

        span:hover {
          opacity: 0.7;
        }

        img {
          width: 80px;
        }
      }
    }
  }
}
