/******************************

      Swiper Body Styles

*******************************/
.actor-profile-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;

  .swiper-container {
    flex-basis: 70%;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 600px;
      margin: 0 auto 0 2em;
    }

    .main-swiper-img {
      width: 100%;
      max-width: 600px;
      box-shadow: 0 5px 26px 0 rgba(0,0,0,0.22), 0 20px 28px 0 rgba(0,0,0,0.30);
    }

    .swiper-button-prev {
      top: 20px !important;
      transform: rotate(90deg) translateX(-43%) !important;
      left: 43% !important;
      margin: 0 !important;
    }

    .swiper-button-next {
      bottom: 0 !important;
      transform: rotate(90deg) translateX(-43%) !important;
      left: 43% !important;
      top: inherit !important;
      margin: 0 !important;
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background-color: black !important;
    }

    .swiper-pagination-progressbar {
      background: white !important;
      position: absolute;
      border-right: 1px solid black !important;
    }

    .swiper-pagination {
      right: auto !important;
      width: 6px;

      .cs-picker {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;

        span {
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }

        span:hover {
          opacity: 0.7;
        }

        img {
          width: 80px;
        }
      }
    }
  }
}
