/*TextBox Styles*/
.jcs-text-box {
  a {
    color: #333;
  }
  //border: 1px solid black;
  width: 30%;
  flex-basis: 50%;
  //margin: 8em 6em;
  box-shadow: 0 5px 26px 0 rgba(0,0,0,0.22), 0 20px 28px 0 rgba(0,0,0,0.30);
  background: white;

  .jcs-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 4em;

    .jcs-bx-header {
      font-size: 40px;
      //width: 100%;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
    }

    .jcs-bx-description {
      font-size: calc(1em + 5px);
      width: 100%;
      line-height: calc(1em + 16px);
      font-family: 'Raleway', sans-serif;
    }

    .jcs-bx-social {
      width: 100%;

      i {
        font-size: calc(1.8em + 2px);
      }

      .actor-sites {
        display: flex;
        justify-content: space-around;
        font-size: 21px;
        width: 290px;
        margin: 0 auto;
        padding-left: 0;

        li:nth-child(1) {
          list-style-type: none;
        }
        li {

          text-transform: uppercase;
        }

        .social-bg {
          background-image: url("images/backstage.png");
          background-size: 65px;
          background-color: gray;
          background-repeat: no-repeat;
          background-position: center;
          height: 25px;
          padding: 0 40px;
          border-radius: 20px;
          flex-basis: 50%;
          margin: 0 20px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }

        .social-bg:hover {
          opacity: 0.7;
        }
      }
    }

    .jcs-menu-icon {
      width: 100%;

      .social-list {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        align-content: center;
        margin: 0;
        align-items: center;

        li {
          flex-basis: 33%;
          list-style-type: none;
          cursor: pointer;
          text-align: center;

          i {
            font-size: 3em;
            transition: all 0.3s ease-in-out;
          }

          i:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.actor-profile-wrapper {
  margin: 0;
  padding: 0;
  font-family: "arial",heletica,sans-serif;
  font-size: 12px;
  background: white url('assets/white-abstract-home.jpg') repeat 0 0;
  -webkit-animation: 14s linear 0s normal none infinite animate;
  -moz-animation: 14s linear 0s normal none infinite animate;
  -ms-animation: 14s linear 0s normal none infinite animate;
  -o-animation: 14s linear 0s normal none infinite animate;
  animation: 14s linear 0s normal none infinite animate;
}
@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px 0;
  }
}
@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px 0;
  }
}
@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px 0;
  }
}
@-o-keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px 0;
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 500px 0;
  }
}
