/*Tiles Component Styles */

.tiles-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image:url("images/jcs-actor.jpg");
  filter: grayscale(50%);
  background-size: cover;
  background-repeat: no-repeat;


  .square-wrapper {
    width: 100%;
    display: flex;
    margin: 3px 0;
    background: rgba(255, 255, 255, .2);
  }
  .square {
    flex-basis: 16%;
    background: rgba(0, 0, 255, .2);
    height: 140px;
    margin: 0 3px;
    border-radius: 3px;
  }
}
